body{
    background: #282C34;
    color: white;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
#day, #hr, #min, #sec{
    display: inline-block;
    width:100px;
    height:60px;
    /* background:red; */
    margin:5px;
}
#container{
   height: 100vh;;
   position: relative;
}
#date_container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
